<!-- this edit.html.erb file is to allow for the -->

<h1>Edit Picture</h1>

<p>
<%= render 'backhome' %>
</p>

<%= form_for @doggie, :url => doggypic_path(@doggie)  do |f| %>
    <p>
      <%= f.label "owner" %><br>
      <%= f.text_field :owner %>
    </p>
    <p>
      <%= f.label "dog_name" %><br>
      <%= f.text_field :dog_name %>
    </p>
    <p>
      <%= f.label "dog_breed" %><br>
      <%= f.text_field :dog_breed %>
    </p>
    <p>
      <%= f.label "url" %><br>
      <%= f.text_field :url %>
    </p>
    <p>
      <%= f.submit "Save" %>
    </p>
<% end %>

