<%= link_to "Back to Dogs", doggypics_url %> | <%= link_to "Edit", edit_doggypic_path(@doggie) %> | <%= link_to "Delete", doggypic_path(@doggie), method: :delete, data: {confirm: "Are you sure you want to delete this Dog?"}  %>



<p>Owner: <%= @doggie.owner %></p>
<p>Dog Name: <%= @doggie.dog_name %></p>
<p></p>Breed: <%= @doggie.dog_breed %></p>
<img src="<%= @doggie.url %>">